.navbar {
  border-radius: 0px;
  background: $orange;
  font-family: #{$Lobster};
  color: $darkGray;

  .navbar-brand {
    font-size: 2em;
    letter-spacing: .1em;
    color: inherit;
    transition: color .2s ease;
  }

  .navbar-nav {
    .sign-up {
      color: inherit;
      letter-spacing: .2em;
      font-size: 1.2em;
      transition: color .2s ease;
    }
  }
}
