.container-fluid(ng-controller="LoginController as Login")
  .well.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    h1.page-header Sign in
    form(role="form", name="form", novalidate, ng-submit="Login.login(User.email, User.password)")
      .form-group(ng-class="{'has-error': form.email.$invalid && form.email.$dirty}")
        .input-group
          span.input-group-addon
            i.fa.fa-at
          input.form-control(placeholder="Enter your email address", name="email", type="text", ng-model="User.email", required)
      .form-group(ng-class="{'has-error': form.password.$invalid && form.password.$dirty}")
        .input-group
          span.input-group-addon
            i.fa.fa-lock
          input.form-control(placeholder="Enter your password", name="password", type="password" ng-model="User.password", required)
      input.btn.btn-primary.pull-right(type="submit", value="Sign in")
      .clearfix
