doctype html
html
    head
        title Task Mate
        link(rel="stylesheet", href="vendor/bootstrap-css-only/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/stylesheets/build/app.min.css")
        link(rel="stylesheet", href="vendor/components-font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href='http://fonts.googleapis.com/css?family=Lobster')
      base(href="/")
    body(ng-app='app')
        include includes/nav
        div(ng-view)
        include includes/scripts
