doctype html
html
    head
        title Task Mate
        link(rel="stylesheet", href="vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="assets/stylesheets/build/app.min.css")
    body(ng-app='taskMate')
        include ./includes/scripts