script(src="vendor/angular/angular.min.js")
script(src="vendor/angular-route/angular-route.min.js")
script(src="vendor/firebase/firebase.js")
script(src="vendor/firebase-simple-login/firebase-simple-login.js")
script(src="vendor/angularfire/dist/angularfire.min.js")
script(src="app.js")
script(src="config.js")
script(src="auth/app.js")
script(src="auth/config.js")
script(src="auth/services/UserService.js")
